<configuration>
	<appSettings>
		<!-- general settings -->
		<add key="WorkerCount" value="4"/>

		<!-- rabbitmq settings -->
		<add key="RabbitMQQueue" value="hashes"/>
		<add key="RabbitMQHostname" value="localhost"/>
		<add key="RabbitMQPort" value="port"/>
		<add key="RabbitMQUsername" value="user"/>
		<add key="RabbitMQPassword" value="pass"/>
		<add key="RabbitMQVHost" value="/"/>

		<!-- sql server settings-->
		<add key="DBConnectionString" value="Server=localhost\SQLEXPRESS;Database=hashdb;Trusted_Connection=True;"/>
	</appSettings>
</configuration>